<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./logs/internal-nlog.txt"
      throwConfigExceptions="true">

  <targets>
    <target name="logstash" xsi:type="Network" address="tcp://localhost:5001" newLine="true">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="category" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="environment" layout="development" />
      </layout>
    </target>     
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logstash" />
  </rules>
</nlog>